.basedOn {
  text-align: center;
  font-size: 1.2em;
  color: #fff;
}
.basedOn a,
.basedOn a:visited,
.basedOn a:hover,
.basedOn a:active {
  color: #ffeb3b;
}

.productCarousal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90%;
  max-width: 1700px;
  margin: auto;
}

#carousel {
  height: 546px;
  width: 1000px !important;
  max-width: 1300px;
  margin: 86px auto 86px auto;
}

.arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #ffffff33 0% 0% no-repeat padding-box;
  border: 2px solid #ddd5c9;
  opacity: 1;
  border-radius: 50%;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
  line-height: 30px;
  z-index: 1000;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow > svg > polyline {
  stroke: #fff;
}
.arrow-right {
  right: 8%;
}
.arrow-left {
  left: 8%;
}
.arrow:hover {
  color: #ffeb3b;
}

.item {
  text-align: center;
  color: white;
  background-color: black;
  overflow: hidden;
  font-size: 40px;
  position: absolute;
  width: 546px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: box-shadow 1s, height 250ms, width 250ms, left 1s, margin-top 1s,
    line-height 250ms, background-color 1s;
}

.product__item__itemName {
  position: relative;
  bottom: 80px;
  /* border: 2px solid red; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 55px;
}

.level0:hover > .product__item__itemName > p {
  transform: translateY(-30px);
}

/* @keyframes showLink2 {
  0% {
    bottom: 45px;
  }
  100% {
    bottom: 65px;
  }
  0% {
    bottom: 45px;
  }
} */

.product__item__itemName > p {
  font-size: 18px;
  letter-spacing: 0.48px;
  padding-left: 30px;
  cursor: pointer;
  font-family: var(--playfair-text);
  transform: translateY(0px);
  position: absolute;
  transition: transform 0.2s;
}

.product__item__itemName > a {
  font-size: 12px;
  letter-spacing: 0.48px;
  padding-left: 30px;
  margin-top: 10px;
  opacity: 0;
  color: #fff;
  /* height: 0px;
  opacity: 0; */
  pointer-events: none;
  font-family: var(--playfair-text);
  /* display: none; */
}

.level0:hover {
  cursor: pointer;
}

.level0:hover > .product__item__itemName > a {
  display: block;
  animation: showLink 0.9s forwards;
  text-transform: lowercase;
}

@keyframes showLink {
  0% {
    /* height: 0px; */
    opacity: 0;
  }
  100% {
    /* height: 50px; */
    opacity: 1;
  }
}

.item > img {
  width: 100%;
  height: 100%;
}
.level-2 {
  width: 319px;
  height: 441px;
  line-height: 72%;

  left: 15%;
}

.overlay0 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay1 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.overlay2 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.overlay-1 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay-2 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.level-1 {
  height: 476px;
  width: 344px;
  line-height: 78%;

  left: 30%;
}

.level0 {
  height: 546px;
  width: 395px;
  left: 50%;

  position: relative;
}

.level0:hover > .overlay0 {
  animation: overlay 0.3s forwards;
}

@keyframes overlay {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.level1 {
  height: 476px;
  width: 344px;
  line-height: 78%;

  left: 70%;
}

.level2 {
  width: 319px;
  height: 441px;
  line-height: 72%;

  left: 85%;
}

.level-2,
.level2 {
  z-index: 0;
}

.level-1,
.level1 {
  z-index: 1;
}

.level0 {
  z-index: 2;
}

.left-enter {
  opacity: 0;
  left: 85%;
  height: -8%;
  width: -8%;
  line-height: 42%;
}
.left-enter.left-enter-active {
  opacity: 1;
  left: 85%;
  height: 72%;
  width: 17%;
  line-height: 72%;
  transition: box-shadow 1s, left 1s, opacity 1s, height 250ms, width 250ms,
    margin-top 1s, line-height 1s;
}

.left-leave {
  opacity: 1;
  left: 15%;
  height: 72%;
  width: 17%;
  line-height: 72%;
  z-index: -1;
}
.left-leave.left-leave-active {
  z-index: -1;
  left: 15%;
  opacity: 0;
  height: -8%;
  width: -8%;
  line-height: 120px;
  transition: box-shadow 1s, left 1s, opacity 1s, height 250ms, width 250ms,
    margin-top 1s, line-height 1s;
}

.right-enter {
  opacity: 0;
  left: 15%;
  height: -8%;
  width: -8%;
  line-height: 42%;
}
.right-enter.right-enter-active {
  left: 15%;
  opacity: 1;
  height: 72%;
  line-height: 72%;
  width: 17%;
  transition: box-shadow 1s, left 1s, opacity 1s, height 250ms, width 250ms,
    margin-top 1s, line-height 1s;
}

.right-leave {
  left: 85%;
  height: 72%;
  opacity: 1;
  line-height: 72%;
  width: 17%;
}
.right-leave.right-leave-active {
  left: 85%;
  opacity: 0;
  height: -8%;
  width: -8%;
  line-height: 42%;
  transition: box-shadow 1s, left 1s, opacity 1s, height 250ms, width 250ms,
    margin-top 1s, line-height 1s;
}

.noselect {
  -webkit-user-select: none;
  -html-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 768px) {
  #carousel {
    height: 313px;
    margin: 0px auto 0px auto;
  }

  .level-2 {
    width: 81px;
    height: 253px;
  }

  .level-1 {
    height: 273px;
    width: 87px;
    left: 25%;
  }

  .level0 {
    height: 313px;
    width: 191px;
  }

  .level1 {
    height: 273px;
    width: 87px;
    left: 75%;
  }

  .level2 {
    width: 81px;
    height: 253px;
  }

  .arrow {
    width: 33px;
    height: 33px;
  }
  .arrow > svg {
    width: 20px;
  }

  .product__item__itemName > p {
    font-size: 16px;
  }

  .product__item__itemName {
    bottom: 50px;
  }

  .level0:hover > .overlay0 {
    background-color: rgba(0, 0, 0, 0);
  }

  .productCarousal {
    padding: 30px 0 50px 0;
  }
}
