.marquee-section-container-desktop {
  display: flex;
  flex-direction: column;
  padding: 80px 0 0 0;
}

.marquee-text-wrapper-1,
.marquee-text-wrapper-2 {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 140px;
  overflow-x: hidden;
}

.marquee-text {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 18s linear infinite;
  /* border: 2px solid blue; */
}

.marquee-text-2 {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee2 18s linear infinite;
  /* border: 2px solid blue; */
}

.marquee-text,
.marquee-text-2 {
  font-size: 103px;
  font-family: var(--playfair-text);
}

.marquee-text > span > span:hover,
.marquee-text-2 > span > span:hover {
  color: #ff1000;
  font-style: italic;
  font-family: var(--playfair-text);
}

.marquee-text > span > span,
.marquee-text-2 > span > span {
  color: #ddd5c9;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.marquee-section-container-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .marquee-section-container-desktop {
    display: none;
  }

  .marquee-section-container-mobile {
    display: block;
  }

  .marquee-section-container-mobile {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
  }

  .marquee-text-wrapper-1-mob,
  .marquee-text-wrapper-2-mob {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 70px;
    overflow-x: hidden;
  }

  .marquee-text-mob {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 18s linear infinite;
    /* border: 2px solid blue; */
  }

  .marquee-text-2-mob {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee2 18s linear infinite;
    /* border: 2px solid blue; */
  }

  .marquee-text-mob,
  .marquee-text-2-mob {
    font-size: 46px;
    font-family: var(--playfair-text);
  }

  .marquee-text-mob > span > span:hover,
  .marquee-text-2-mob > span > span:hover {
    color: #ff1000;
    font-style: italic;
    font-family: var(--playfair-text);
  }

  .marquee-text-mob > span > span,
  .marquee-text-2-mob > span > span {
    color: #ddd5c9;
  }
}
