.contact-form-container {
  width: 80%;
  margin: 0 auto;
  padding: 96px 0;

  display: flex;
  justify-content: space-between;
}

.contact-form-content {
  display: flex;
  flex-direction: column;
  width: 342px;
}

.contact-form-head > h4 {
  font-size: 40px;
  margin: 0 0 40px 0;
  font-family: var(--playfair-text);
  color: #a09f9d;
}

.contact-form-head > h4 > span {
  font-size: 40px;
  font-family: var(--playfair-text);

  color: #ff1000;
}

.contact-form-subhead {
  font-size: 18px;
  color: #a09f9d;
  font-family: var(--open-sans-text);
}

.contact-form-input-box {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 576px;
}

.input-wrapper > input {
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #a4a4a4;
  border-left: 0px;
  padding: 0 0 16px 0;
  margin: 20px 0 0 0;
}

.input-wrapper > textarea {
  border: 1px solid #a4a4a4;
}

.input-wrapper > textarea {
  width: 100%;

  padding: 0 0 16px 0;
}

.input-wrapper > label {
  margin: 30px 0 0 0;
}

.input-wrapper > input::placeholder {
  font-size: 14px;
  padding: 0 0 16px 0;
  font-family: var(--open-sans-text);
  color: #a09f9d;
}

.input-wrapper > input:focus {
  outline: none;
}

.input-wrapper > label {
  font-size: 14px;
  padding: 0 0 16px 0;
  font-family: var(--open-sans-text);
  color: #a09f9d;
}

.contact-form-quote-btn {
  width: 220px;
  height: 64px;
  margin: 62px 0 0 0;

  font-size: 20px;
  color: red;
  background-color: #fff;
  border: 0px;
  cursor: pointer;
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .contact-form-container {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */

    width: 90%;
    margin: 0 auto;

    padding: 60px 0;
  }

  .input-wrapper {
    width: 90%;
    /* margin: 0 auto; */
  }

  .contact-form-subhead {
    font-size: 16px;
  }

  .contact-form-content {
    width: 100%;
  }

  .contact-form-head > h4 {
    font-size: 24px;
    /* text-align: center; */
  }
  .contact-form-head > h4 > span {
    font-size: 24px;
  }

  .contact-form-input-container {
    margin: 55px 0 0 0;
  }

  .input-wrapper > textarea {
    height: 65px;
  }

  .marble-section-slider-container > .slick-dots {
    border: 2px solid #fff !important;
  }
}
