.natural-filter-container {
  display: flex;
  /* justify-content: space-between; */
  padding: 82px 5%;
  background-color: #fff;
}

.natural-filter-tiles-filter {
  width: 360px;
  height: max-content;
  border: 1px solid blue;
  position: -webkit-sticky;
  position: sticky;
  top: 88px;
}

.mono-filter-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cdcdcd;
}

.mono-filter-title > span {
  color: #cdcdcd;
  font-size: 18px;
  font-family: var(--playfair-text);
  padding: 20px 0;
}

.natural-filter-tiles-result-images {
  margin: 0 0 0 80px;
  display: grid;
  grid-template-columns: repeat(3, 253px);
  column-gap: 58px;
  row-gap: 40px;
}

.mono-natural-tile-card {
  width: 253px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mono-natural-tile-card:hover {
  box-shadow: 0px 3px 6px #00000029;
}

.mono-natural-tile-card:hover > .mono-natural-hover-state {
  /* opacity: opacity 1s ease; */
  opacity: 1;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mono-natural-tile-card-image {
  width: 253px;
  height: 378px;
}

.mono-natural-tile-card-image > img {
  width: 100%;
  height: 100%;
}

.mono-natural-card-title {
  font-size: 20px;
  font-weight: 600;
  color: #6c6c6c;
  font-family: var(--playfair-text);
  margin: 18px 0 25px 15px;
}

.mono-natural-hover-state {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px 0 15px;
  padding: 15px 0;
  border-top: 1px solid #cdcdcd;
  opacity: 0;
  cursor: pointer;
}

.mono-natural-hover-state > p {
  font-size: 16px;
  color: #6c6c6c;
  font-family: var(--playfair-text);
}

@media screen and (max-width: 768px) {
  .natural-filter-container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .natural-filter-tiles-filter {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    top: 69px;
    width: 100%;
    margin: 0 0 35px 0;
  }

  .natural-filter-tiles-result-images {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0;
  }

  .mono-natural-tile-card {
    /* height: 376px; */
    width: 80%;
    margin: 0px 0 25px 0;
    box-shadow: 0px 3px 6px #00000029;
  }

  .mono-natural-tile-card-image {
    width: 100%;
    height: 263px;
  }

  .mono-natural-hover-state {
    opacity: 1;
  }
}
