.hero-banner-slider-wrapper {
  margin: 82px auto 0 auto;
  /* border: 2px solid red; */
  width: 100vw;
}

.hero-banner-slider-wrapper > .slick-arrow .slick-next {
  display: none !important;
}

.single-banner-slide {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.banner-img-wrapper {
  height: 80vh;
  width: 100vw;
}

.banner-img-wrapper > img {
  height: 100%;
  width: 100%;
}

.hero-banner-content {
  position: absolute;
  top: 30%;
  left: 10%;

  font-size: 40px;
  font-weight: 600;
  color: #fff;
  font-family: var(--playfair-text);
  line-height: 1.4;

  letter-spacing: 1.5px;
}

.hero-banner-content > span {
  font-size: 40px;
  font-weight: 600;
  color: #ff1000;
  font-family: var(--playfair-text);
  letter-spacing: 1.5px;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .hero-banner-slider-wrapper {
    margin: 65px 0 0 0;
  }
  .banner-img-wrapper {
    height: 35vh;
    /* width: 100%; */
    margin: 0 auto;
  }

  .single-banner-slide {
    /* width: 100%; */
    height: 100%;
    margin: 0 auto;
  }

  .hero-banner-content {
    top: 8%;
    left: 5%;
  }

  .hero-banner-content,
  .hero-banner-content > span {
    font-size: 20px;
  }
}
