@media screen and (min-width: 1024px) {
  .navbar-wrapper-desktop {
    padding: 0 48px;
    height: 80px;
    /* border: 2px solid red; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
  }

  .navbar-wrapper-desktop,
  .navbar-logo-wrapper,
  .navbar-quick-links-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-logo-wrapper {
    height: 45px;
    width: 190px;
  }

  .navbar-logo-wrapper > img {
    height: 100%;
    width: 100%;
  }

  .mono-quick-link {
    font-size: 14px;
    margin: 0 0 0 1.7rem;
    color: #a4a4a4;
    letter-spacing: 0.5px;
    font-family: var(--playfair-text);
    text-decoration: none;
  }

  .mono-quick-link:hover {
    font-size: 14px;
    color: #ff1000;
    cursor: pointer;
  }

  .active__links {
    font-size: 14px;
    color: #ff1000;
    cursor: pointer;

    margin: 0 0 0 1.7rem;

    letter-spacing: 0.5px;
    font-family: var(--playfair-text);
    text-decoration: none;
  }

  .navbar-wrapper-small {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-wrapper-desktop {
    padding: 0 20px;
    height: 80px;
    /* border: 2px solid red; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;

    background-color: #fff;
  }

  .navbar-wrapper-desktop,
  .navbar-logo-wrapper,
  .navbar-quick-links-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-logo-wrapper {
    height: 37px;
    width: 140px;
  }

  .navbar-logo-wrapper > img {
    height: 100%;
    width: 100%;
  }

  .mono-quick-link {
    font-size: 12px;
    margin: 0 0 0 20px;
    color: #ddd5c9;
    letter-spacing: 0.5px;
    font-family: var(--playfair-text);
  }

  .mono-quick-link:hover {
    font-size: 14px;
    margin: 0 0 0 30px;
    color: #ff1000;
    cursor: pointer;
  }

  .navbar-wrapper-small {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar-wrapper-desktop {
    display: none;
  }

  .navbar-wrapper-small {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    width: 100%;
    z-index: 100;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }

  .navbar-small-logo-wrappper {
    width: 160px;
    height: 40px;
    /* border: 1px solid red; */
  }

  .navbar-small-logo-wrappper > img {
    width: 100%;
    height: 100%;
  }

  .navbar-small-menu-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6c6c6c;
  }

  .navbar-small-menu-bar > span {
    font-size: 15px;
    font-family: var(--playfair-text);
    padding: 0 10px 0 0;
  }

  .hamburger-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20px;
    height: 12px;
    /* border: 1px solid red; */
    transition: all 0.5s ease-in-out;
  }

  .hamburger_btn_burger_1,
  .hamburger_btn_burger_2 {
    width: 25px;
    height: 2px;
    background-color: #a09f9d;
  }

  .hamburger-icon.open > .hamburger_btn_burger_1 {
    transform: rotate(45deg) translate(-1px, 6.5px);
    transition: all 0.3s ease-in-out;
  }

  .hamburger-icon.open > .hamburger_btn_burger_2 {
    transform: rotate(-45deg) translate(0.5px, -8.5px);
    transition: all 0.3s ease-in-out;
  }

  .navbar-menu-slider {
    /* background-color: #fff; */
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    height: 100%;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
  }

  .navbar-menu-slider.open {
    transform: translateX(0%);
  }

  .navbar_slider_content {
    width: 80%;
    position: fixed;
    z-index: 105;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #f2f2f2;
    padding: 50px 0 0 15px;
    overflow-y: scroll;
  }

  .navbar_slider_content > p {
    font-size: 20px;
    color: #6c6c6c;
    font-family: var(--playfair-text);
    margin: 0 0 40px 0;
  }
}
