@media screen and (min-width: 1024px) {
  .navbar-wrapper-desktop {
    padding: 0 48px;
    height: 80px;
    /* border: 2px solid red; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;
  }

  .navbar-wrapper-desktop,
  .navbar-logo-wrapper,
  .navbar-quick-links-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-logo-wrapper {
    height: 37px;
    width: 152px;
  }

  .navbar-logo-wrapper > img {
    height: 100%;
    width: 100%;
  }

  .mono-quick-link {
    font-size: 14px;
    margin: 0 0 0 39px;
    color: #ddd5c9;
    letter-spacing: 0.5px;
    font-family: var(--playfair-text);
  }

  .mono-quick-link:hover {
    font-size: 14px;
    margin: 0 0 0 39px;
    color: #ff1000;
    cursor: pointer;
  }

  .navbar-wrapper-small {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar-wrapper-desktop {
    padding: 0 20px;
    height: 80px;
    /* border: 2px solid red; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;
  }

  .navbar-wrapper-desktop,
  .navbar-logo-wrapper,
  .navbar-quick-links-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-logo-wrapper {
    height: 37px;
    width: 140px;
  }

  .navbar-logo-wrapper > img {
    height: 100%;
    width: 100%;
  }

  .mono-quick-link {
    font-size: 12px;
    margin: 0 0 0 20px;
    color: #ddd5c9;
    letter-spacing: 0.5px;
    font-family: var(--playfair-text);
  }

  .mono-quick-link:hover {
    font-size: 14px;
    margin: 0 0 0 30px;
    color: #ff1000;
    cursor: pointer;
  }

  .navbar-wrapper-small {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .navbar-wrapper-desktop {
    display: none;
  }

  .navbar-wrapper-small {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    z-index: 10;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }

  .navbar-small-logo-wrappper {
    width: 116px;
    height: 28px;
    /* border: 1px solid red; */
  }

  .navbar-small-logo-wrappper > img {
    width: 100%;
    height: 100%;
  }

  .navbar-small-menu-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6c6c6c;
  }

  .navbar-small-menu-bar > span {
    font-size: 14px;
    font-family: var(--playfair-text);
    padding: 0 10px 0 0;
  }
}
