.navbar-wrapper {
  padding: 2.2rem 4.8rem;
}

.navbar-wrapper,
.navbar-logo-wrapper,
.navbar-quick-links-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo-wrapper {
  height: 3.7rem;
  width: 15.2rem;
}

.navbar-logo-wrapper > img {
  height: 100%;
  width: 100%;
}

.mono-quick-link {
  font-size: 1.4rem;
  margin: 0 0 0 3.9rem;
  color: #ddd5c9;
}

.mono-quick-link:hover {
  font-size: 1.4rem;
  margin: 0 0 0 3.9rem;
  color: #ff1000;
  cursor: pointer;
}
