.media-container-wrapper {
  padding: 40px 80px;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: flex-start;
  flex-wrap: wrap; */
}

.media-toggle-section-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 0.5px solid #f2f2f2;
  margin-bottom: 52px;
}

.media-toggle-section-mono-bar {
  font-size: 18px;
  font-family: var(--playfair-text);
  margin: 0 60px 0 0;
  cursor: pointer;
  text-transform: uppercase;
}

.media-container-articles-wrapper {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-wrap: wrap;
}

.media-container-mono-article {
  width: 42%;
  max-width: 600px;
  height: 100%;
  border: 0.5px solid #a09f9d;
  margin: 0 75px 40px 0;

  box-shadow: 0px 3px 6px #00000029;
  border: 0.5px solid #a09f9d;
}

.media-article-img-box {
  width: 100%;
  height: 360px;
}

.media-article-img-box > img {
  width: 100%;
  height: 100%;
}

.media-article-content {
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  /* align-items: ; */
}

.media-article-title {
  color: #1d1d1b;
  font-size: 24px;
  font-family: var(--playfair-text);
  margin: 0 0 20px 0;
}

.media-article-date {
  color: #6c6c6c;
  font-size: 18px;
  margin: 0 0 20px 0;
  font-family: var(--open-sans-text);
}

.media-article-magazine-name {
  color: #a09f9d;
  font-size: 18px;
  line-height: 1.4;
  margin: 0 0 10px 0;
  font-family: var(--open-sans-text);
}

.media-article-summary {
  color: #a09f9d;
  font-size: 18px;
  line-height: 1.4;
  margin: 0 0 40px 0;
  font-family: var(--open-sans-text);
}

.media-article-btn {
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 150px;
  height: 48px;
  margin-top: 30px;
  text-decoration: none;
}

.media-article-btn > span {
  font-size: 14px;
  letter-spacing: 1.6px;
  color: #ff1000;
  text-transform: capitalize;
  opacity: 1;
  margin-left: 10px;
  font-family: var(--open-sans-text);
}

.media-article-btn-hover {
  position: relative;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-article-btn-circle {
  width: 35px;
  height: 35px;
  clip-path: circle(50%);
  border-radius: 50%;
  border: 2px solid #ff1000;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: clip-path 0.1s;
}

.media-article-btn-hover > svg {
  width: 20px;
  height: 20px;
  color: #ff1000;
  position: absolute;
  transition: transform 0.3s;
}

.media-article-btn:hover {
  background-color: #ff1000;
  transform: translateX(0);
  cursor: pointer;
}

.media-article-btn:hover
  > .media-article-btn-hover
  > .media-article-btn-circle {
  clip-path: circle(8%);
  background-color: #fff;
}

.media-article-btn:hover > span {
  font-size: 14px;
  letter-spacing: 1.6px;
  color: #ffffff;
  text-transform: capitalize;
  opacity: 1;
  /* font-weight: 600; */
}

.media-article-btn:hover > .media-article-btn-hover > svg {
  color: #fff;
  cursor: pointer;
  transform: translateX(10px);
}

@media screen and (max-width: 768px) {
  .media-container-wrapper {
    padding: 0;

    display: flex;
    flex-direction: column;
  }

  .media-toggle-section-container {
    justify-content: space-between;
    background-color: #fafafa;
    margin-bottom: 0;
  }

  .media-toggle-section-container > div:first-child {
    border-right: 0.5px solid #d6d4d0;
  }

  .media-toggle-section-mono-bar {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px 0;
  }

  .media-container-articles-wrapper {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 24px 0 0 0;
  }

  .media-container-mono-article {
    width: 100%;
    margin: 0 0 24px 0;
  }

  .media-article-img-box {
    width: 100%;
    height: 205px;
  }

  .media-article-img-box > img {
    width: 100%;
    height: 100%;
  }

  .media-article-content {
    padding: 0 5%;
  }

  .media-article-title {
    font-size: 16px;
    margin: 21px 0 15px 0;
  }

  .media-article-date,
  .media-article-summary {
    font-size: 14px;
    margin: 0 0 15px 0;
  }

  .media-article-btn {
    margin: 0 0 30px 0;
  }
}
