.why-taxila-container {
  /* border: 2px solid red; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* width: 124.8px; */
  /* width: 85%; */
  padding: 104px 7.5%;
  background-color: #fafafa;
  /* max-width: 1248px; */
}

.why-taxila-upper-section,
.why-taxila-lower-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 420px;
  width: 100%;
  /* border: 2px solid red; */
}

.why-taxila-img-container {
  height: 100%;
  width: 100%;

  overflow: hidden;
}

.why-taxila-img-container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
  /* border: 1px solid blue; */
}

.why-taxila-grid-head {
  font-size: 40px;
  color: #6c6c6c;
  margin: 60px 0 0 48px;
  font-family: var(--playfair-text);
}

/* .why-taxila-grid-2 {
  padding: 0 0 0 48px;
} */

.why-taxila-grid-head > span {
  font-size: 40px;
  color: #ff1000;
}

.why-taxila-grid-1,
.why-taxila-grid-2,
.why-taxila-grid-3,
.why-taxila-grid-4 {
  /* height: 42px;
  width: 62.4px; */

  width: 100%;
  height: 100%;
}

.why-taxila-grid-subhead-1 {
  font-size: 18px;
  margin: 40px 0 0 48px;
  width: 480px;
  line-height: 1.6;
  font-family: var(--open-sans-text);
  color: #a4a4a4;
}

.why-taxila-grid-subhead-2 {
  font-family: var(--open-sans-text);
  color: #a4a4a4;

  font-size: 18px;
  margin: 100px 0 0 0;
  width: 480px;
  line-height: 1.6;
}

.why-taxila-btn {
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 220px;
  height: 64px;
  margin-top: 46px;
  cursor: pointer;
}

.why-taxila-btn > span {
  font-size: 20px;
  letter-spacing: 1.6px;
  color: #ff1000;
  text-transform: capitalize;
  opacity: 1;
  margin-left: 24px;
}
.why-taxila-btn-hover {
  position: relative;
  margin-left: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.why-taxila-btn-circle {
  width: 50px;
  height: 50px;
  clip-path: circle(50%);
  border-radius: 50%;
  border: 2px solid #ff1000;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: clip-path 0.1s;
}

.why-taxila-btn-hover > svg {
  width: 30px;
  height: 30px;
  color: #ff1000;
  position: absolute;
  transition: transform 0.3s;
}

.why-taxila-btn:hover {
  background-color: #ff1000;
  transform: translateX(0);
}

.why-taxila-btn:hover > .why-taxila-btn-hover > .why-taxila-btn-circle {
  clip-path: circle(8%);
  background-color: #fff;
}

.why-taxila-btn:hover > span {
  font-size: 20px;
  letter-spacing: 1.6px;
  color: #ffffff;
  text-transform: capitalize;
  opacity: 1;
}

.why-taxila-btn:hover > .why-taxila-btn-hover > svg {
  color: #fff;

  transform: translateX(15px);
}

.why-taxila-img-container:hover > img {
  transform: scale(1.15);
}

@media screen and (max-width: 768px) {
  .why-taxila-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 60px 5%;
  }

  .why-taxila-upper-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    height: max-content;
  }

  .why-taxila-img-container {
    width: 100%;

    overflow: hidden;
  }

  .why-taxila-img-container > img {
    object-fit: cover;
  }
  .why-taxila-lower-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* height: 700px; */
  }

  .why-taxila-grid-1,
  .why-taxila-grid-2,
  .why-taxila-grid-3,
  .why-taxila-grid-4 {
    width: 100%;
    margin: 0 auto;
    height: max-content;
  }

  .why-taxila-grid-subhead-1,
  .why-taxila-grid-subhead-2 {
    width: 100%;
    margin: 16px 0 30px 0;
    color: #a4a4a4;
    font-size: 16px;
  }

  .why-taxila-grid-2 {
    padding: 0;
  }

  .why-taxila-grid-head,
  .why-taxila-grid-head > span {
    font-size: 24px;
  }

  .why-taxila-grid-head {
    margin: 0;
    /* text-align: center; */
  }

  .why-taxila-lower-section {
    height: 100%;
  }

  .why-taxila-btn {
    margin: 30px 0;
    font-size: 15px;
  }

  .why-taxila-grid-4 {
    display: none;
  }

  .why-taxila-btn {
    outline: none;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 150px;
    height: 48px;
    margin-top: 30px;
  }

  .why-taxila-btn > span {
    font-size: 14px;
    letter-spacing: 1.6px;
    color: #ff1000;
    text-transform: capitalize;
    opacity: 1;
    margin-left: 10px;
  }
  .why-taxila-btn-hover {
    position: relative;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .why-taxila-btn-circle {
    width: 35px;
    height: 35px;
    clip-path: circle(50%);
    border-radius: 50%;
    border: 2px solid #ff1000;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: clip-path 0.1s;
  }

  .why-taxila-btn-hover > svg {
    width: 20px;
    height: 20px;
    color: #ff1000;
    position: absolute;
    transition: transform 0.3s;
  }

  .why-taxila-btn:hover {
    background-color: #ff1000;
    transform: translateX(0);
  }

  .why-taxila-btn:hover > .why-taxila-btn-hover > .why-taxila-btn-circle {
    clip-path: circle(8%);
    background-color: #fff;
  }

  .why-taxila-btn:hover > span {
    font-size: 15px;
    letter-spacing: 1.6px;
    color: #ffffff;
    text-transform: capitalize;
    opacity: 1;
    /* font-weight: 600; */
  }

  .why-taxila-btn:hover > .why-taxila-btn-hover > svg {
    color: #fff;

    transform: translateX(10px);
  }
}
