.download__items__container {
  display: flex;

  flex-direction: column;
  width: calc(100% - 160px);
  border-top: 1px solid #f2f2f2;

  margin: 60px auto auto 60px;
  padding-bottom: 60px;
}
.download__items {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.download__items__container__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0px 80px 0px 80px;
  cursor: pointer;
}

.download__items__container__head:hover {
  background-color: #f5f5f5;
}

.download__items__container__head > h3 {
  font-family: var(--playfair-text);
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #1d1d1b;
  text-transform: capitalize;
  opacity: 1;
}

.download__items__container__head > svg {
  width: 40px;
  height: 40px;
  fill: #6c6c6c;
}

/* expnad downloads  */

.download__items__container__expand {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 310px;
  padding: 0px 80px 0px 80px;
  cursor: pointer;
  background-color: #f5f5f5;
  flex-direction: column;
  border-bottom: 2px solid #f2f2f2;
  /* animation: slidedown 0.3s alternate; */
  overflow: hidden;
}

@keyframes slidedown {
  from {
    height: 80px;
  }
  to {
    height: 310px;
  }
}

.download__items__container__expand__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.download__items__container__expand__head > h3 {
  font-family: var(--playfair-text);
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #1d1d1b;
  text-transform: capitalize;
  opacity: 1;
}

.download__items__container__expand__head > svg {
  width: 40px;
  height: 40px;
  fill: #6c6c6c;
}

.download__items__container__expand__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 20px;
}

.download__items__container__expand__item > div {
  display: flex;
  align-items: center;
}

.download__items__container__expand__item > div > p {
  text-align: left;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 600;
  margin-left: 12px;
  letter-spacing: 0px;
  color: #a09f9d;
  opacity: 1;
}

.download__items__container__expand__item > div > svg {
  fill: #a09f9d;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 560px) {
  .download__items__container {
    width: calc(100% - 32px);
  }

  .download__items__container__head {
    padding: 0px 10px 0px 10px;
    height: 64px;
  }

  .download__items__container__head:hover {
    background-color: #f5f5f5;
  }

  .download__items__container__head > h3 {
    font-size: 16px;
  }

  .download__items__container__head > svg {
    width: 20px;
    height: 20px;
    fill: #6c6c6c;
  }

  /* expnad downloads  */

  .download__items__container__expand {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    background-color: #f5f5f5;
    flex-direction: column;
    border-bottom: 2px solid #f2f2f2;
    animation: slidedown 1s alternate;
    overflow: hidden;
  }

  @keyframes slidedown {
    from {
      height: 64px;
    }
    to {
      height: 400px;
    }
  }

  .download__items__container__expand__head > h3 {
    font-size: 16px;
  }

  .download__items__container__expand__head > svg {
    width: 20px;
    height: 20px;
    fill: #6c6c6c;
  }

  .download__items__container__expand__item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    gap: 20px;
  }

  .download__items__container__expand__item > div {
    display: flex;
    align-items: center;
  }

  .download__items__container__expand__item > div > p {
    font-size: 14px;
  }

  .download__items__container__expand__item > div > svg {
    fill: #a09f9d;
    width: 20px;
    height: 20px;
  }
}
