@media screen and (min-width: 560px) {
  .download__banner__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 308px;
    overflow: hidden;
    margin-top: 81px;
    flex-direction: column;
    position: relative;
  }

  .download__banner__container > img {
    width: 100%;
    height: 100%;
  }

  .download__banner__link {
    display: flex;
    align-items: center;
    position: absolute;
    left: 80px;
    bottom: 13px;
  }
}

@media screen and (max-width: 560px) {
  .download__banner__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 308px;
    overflow: hidden;
    margin-top: 81px;
    flex-direction: column;
    position: relative;
  }

  .download__banner__container > img {
    width: 100%;
    height: 100%;
  }

  .download__banner__link {
    display: none;
  }
}
