.video-banner-wrapper {
  background-image: url("../../../Assets/images/Natural\ Surfaces/naturalBanner.webp");
  /* background-image: url("../../../Assets/images/Natural\ Surfaces/"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 308px;
  margin: 80px 0 0 0;
  position: relative;
}

.video-banner-wrapper > h1 {
  font-family: var(--playfair-text);
  color: #fff;
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-page-route-indicator {
  height: 100px;
  padding: 0 60px;
  height: 40px;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */

  background-color: #f5f5f5;
}

.video-page-home-link {
  font-family: var(--playfair-text);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #a09f9d;
  margin: 0 4px 0 0;
}

@media screen and (max-width: 768px) {
  .video-banner-wrapper {
    height: 174px;
  }

  .video-banner-wrapper > h1 {
    font-size: 32px;
  }

  .video-page-route-indicator {
    display: none;
  }
}
