.kitchenItem__container {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 80px;
  background-color: #1d1d1b;
  overflow-x: hidden;
  position: relative;
}

.kitchenItem__side__bar {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 594px;
  width: 192px;
  margin-top: 94px;
}
.kitchenItem__side__bar > div {
  width: 96px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media screen and (min-width: 500px) {
  .kitchenItem__side__bar > div > p {
    transform: matrix(0, -1, 1, 0, 0, 0);
    font-size: 32px;
    font-family: var(--playfair-text);
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 84px;
    display: flex;
    width: 100%;
    cursor: pointer;
  }
  .maistri__Carousal__big {
    position: fixed;
    top: 50px;
    max-width: 1600px;
    margin: 0 auto;
    /* width: 1600px; */
    /* margin-left: -247px; */
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: rgba(29, 29, 27, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .maistri__Carousal__big__close {
    position: absolute;
    top: 80px;
    right: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    font-family: var(--playfair-text);
    z-index: 2;
    letter-spacing: 0px;
    color: #e6e5e2;
    cursor: pointer;
  }
}

.kitchenItem__side__bar > div:hover {
  background: #2a2a2a 0% 0% no-repeat padding-box;
  opacity: 1;
}

.kitchenItem__middle__bar {
  display: flex;

  flex-direction: column;
  flex: 1;
  margin-left: 55px;
  width: 80%;
}
.kitchenItem__middle__bar__upper {
  display: grid;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  height: 94px;
  width: calc(100vw - 248px);
  max-width: calc(1600px - 248px);
  border-bottom: 1px solid #707070;
  column-gap: 41px;
}

.kitchenItem__middle__bar__upper::-webkit-scrollbar {
  display: none;
}

.kitchenItem__middle__bar__upper > div {
  width: max-content;
  font-size: 32px;
  font-family: var(--playfair-text);
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .kitchenItem__container {
    margin-top: 60px;
    flex-direction: column-reverse;
    overflow-x: hidden;
  }

  .maistri__Carousal__big {
    display: none;
  }

  .kitchenItem__side__bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    height: max-content;
    padding-bottom: 221px;
  }
  .kitchenItem__side__bar > div {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .kitchenItem__side__bar > div > p {
    font-size: 32px;
    font-family: var(--playfair-text);
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 0px;
    display: flex;
    width: 100%;
    cursor: pointer;
    margin-left: 20px;
  }

  .kitchenItem__middle__bar {
    margin-left: 20px;
    width: 100%;
  }
  .kitchenItem__middle__bar__upper {
    height: 84px;
    width: calc(100vw - 30px);

    column-gap: 29px;
  }

  .kitchenItem__middle__bar__upper::-webkit-scrollbar {
    display: none;
  }

  .kitchenItem__middle__bar__upper > div {
    font-size: 18px;
  }
}
