.product-listing-filter-container {
  padding: 60px;

  margin: 0 auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
}

.product-listing-filter-drop-desk {
  position: sticky;
  top: 80px;
  left: 0;
  width: 360px;
  /* border: 1px solid blue; */
  height: 250px;
  overflow-y: scroll;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

/* width */
.product-listing-filter-drop-desk::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.product-listing-filter-drop-desk::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.product-listing-filter-drop-desk::-webkit-scrollbar-thumb {
  background: #dddcda;
}

.product-listing-filter-head {
  font-size: 18px;
  color: #a09f9d;
  font-family: var(--playfair-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-listing-mono-product {
  color: #cdcdcd;
  font-size: 18px;
  font-family: var(--playfair-text);
  margin: 20px 0 0 0;
  text-transform: uppercase;
  cursor: pointer;
}

.highlight {
  color: #6c6c6c;
}

.product-listing-description-section {
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
  margin: 0 0 0 80px;
}

.product-listing-details {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.product-listing-details-description {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 388px;
  margin: 0 45px 0 0;
}

.product-listing-details-description > h4 {
  font-size: 28px;
  color: #1d1d1b;
  font-family: var(--playfair-text);
}

.product-listing-details-description > p {
  font-size: 18px;
  color: #6c6c6c;
  font-family: var(--open-sans-text);
  margin: 23px 0 0 0;
  line-height: 1.6;
}

.product-listing-details-image {
  height: 348px;
  width: 407px;
}

.product-listing-details-image > img {
  height: 100%;
  width: 100%;
}

.product-listing-features-wrapper-desktop {
  margin: 55px 0 40px 0;
}

.product-listing-features-wrapper-desktop > h4 {
  font-size: 28px;
  color: #1d1d1b;
  font-family: var(--playfair-text);
}

.product-listing-features-wrapper-desktop-table-container {
  height: 300px;
  overflow-y: scroll;
  position: relative;
}

/* width */
.product-listing-features-wrapper-desktop-table-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.product-listing-features-wrapper-desktop-table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.product-listing-features-wrapper-desktop-table-container::-webkit-scrollbar-thumb {
  background: #dddcda;
}

.product-listing-features-wrapper-desktop-table-container > table {
  border-collapse: collapse;
  margin: 40px 0 0 0;
}

.table-thead-1,
.table-thead-2 {
  position: sticky;
  top: -2px;
}

.table-thead-1 > tr > th:nth-child(2) {
  height: 48px;
  width: 415px;
  color: #a09f9d;
  font-family: var(--open-sans-text);
  font-size: 16px;
  border: 0.5px solid #cdcdcd;
  border-collapse: collapse;
}

.table-thead-2 > tr > th {
  height: 48px;
  width: 70px;
  background-color: #f2f2f2;
  color: #a09f9d;
  font-size: 14px;
  text-align: center;
  border: 0.5px solid #cdcdcd;
  font-family: var(--open-sans-text);
  border-collapse: collapse;
}

.table-thead-2 > tr > th:first-child,
.table-thead-2 > tr > th:last-child {
  height: 48px;
  width: 213px;
}

tbody > tr > td:nth-child(1) {
  text-transform: uppercase;
  text-align: center;
}

tbody > tr > td:last-child {
  padding: 0 0 0 25px;
  text-align: left;
}

tbody > tr > td {
  height: 89px;
  background-color: #fff;
  font-size: 12px;
  color: #6c6c6c;
  font-family: var(--open-sans-text);
  font-weight: 600;
  border: 0.5px solid #cdcdcd;
  border-collapse: collapse;
  text-align: center;
}

tbody > tr > td > img {
  width: 15px;
  height: 15px;
  margin: 0 2px;
}

.table-footer-scale {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 21px 0 0 0;
}

.mono-footer-scale-mark {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 22px;
}

.mono-footer-scale-mark > p {
  color: #b1b4ae;
  font-size: 16px;
  font-family: var(--open-sans-text);
}

.mono-footer-scale-mark > img {
  height: 15px;
  width: 15px;
  margin: 0 8px 0 0;
}

.product-listing-explore-products-wrapper {
  display: flex;
  flex-direction: column;
}

.product-listing-explore-products-wrapper-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-listing-explore-products-wrapper-head > h4 {
  color: #1d1d1b;
  font-size: 28px;
  font-family: var(--playfair-text);
}

.product-listing-explore-products-wrapper-head > p {
  color: #a09f9d;
  font-size: 14px;
  font-family: var(--open-sans-text);
}

.product-listing-explore-products-results {
  margin: 41px 0 0 0;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 48px;
  grid-column-gap: 40px;
}

.product-listing-explore-products-mono-result-img {
  width: 240px;
  height: 360px;
}

.product-listing-explore-products-mono-result-img > img {
  width: 100%;
  height: 100%;
}

.product-listing-explore-products-mono-result-desc {
  display: none;
}

.product-listing-features-wrapper-mob {
  display: none;
}

@media screen and (max-width: 768px) {
  .product-listing-filter-container {
    flex-direction: column;
    padding: 0;
  }

  .product-listing-filter-drop-desk {
    flex-direction: row;
    /* align-items: center; */
    height: unset;
    background-color: #fafafa;
    width: 100%;
    top: 70px;
    overflow-y: hidden;
  }

  .product-listing-mono-product {
    border-right: 0.5px solid #cdcdcd;
    padding: 25px 21px;
    margin: 0;
    font-size: 14px;
  }

  .product-listing-filter-drop-desk::-webkit-scrollbar {
    height: 7px;
  }

  .product-listing-filter-head {
    display: none;
  }

  .product-listing-description-section {
    margin: 23px 0 0 0;
    /* padding: 0 5%; */
  }

  .product-listing-details {
    flex-direction: column-reverse;
    width: 90%;
    margin: 0 auto;
  }

  .product-listing-details-image {
    width: 100%;
    margin: 0 auto;
    height: 219px;
  }

  .product-listing-details-description {
    width: 100%;
    margin: 0;
  }

  .product-listing-details-description > h4 {
    margin: 30px 0;
    font-size: 20px;
  }

  .product-listing-details-description > p {
    margin: 0 0 0 0;
    font-size: 12px;
  }

  .product-listing-features-wrapper-desktop {
    display: none;
    width: 90%;
    margin: 30px auto;
  }

  .product-listing-features-wrapper-desktop > h4 {
    font-size: 20px;
  }

  .product-listing-features-wrapper-mob {
    display: flex;
    flex-direction: column;
    width: 90%;

    align-self: center;
    margin: 31px 0px 37px 35px;
  }

  .product-listing-features-wrapper-mob > h4 {
    font-size: 16px;
    color: #1d1d1b;
    font-family: var(--playfair-text);
    padding-bottom: 22px;
  }

  .product-listing-features-table {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    border-left: 0.5px solid #dddddd;
    /* border-top: 0.5px solid #dddddd;
    border-bottom: 0.5px solid #dddddd; */
  }

  .product-listing-table-left {
    display: flex;
    flex-direction: column;
    width: 124px;
  }

  .product-listing-table-left-head {
    width: 123px;
    background-color: #f2f2f2;
    font-size: 14px;
    color: #a09f9d;
    font-family: var(--open-sans-text);
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 0.5px solid #cdcdcd;
    border-bottom: 0.5px solid #dddddd;
  }

  .product-listing-table-left-pros {
    width: 124px;
    background-color: #f2f2f2;
    font-size: 14px;
    color: #a09f9d;
    font-family: var(--open-sans-text);
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 0.5px solid #dddddd;
    border-right: 0.5px solid #dddddd;
  }

  .product-listing-table-left-stats > p {
    width: 83px;
    height: 48px;
    background-color: #f2f2f2;
    font-size: 14px;
    color: #a09f9d;
    font-family: var(--open-sans-text);
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 0.5px solid #dddddd;
    border-right: 0.5px solid #dddddd;
    border-bottom: 0.5px solid #dddddd;
  }

  .product-listing-table-left-content {
    height: 288px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-listing-table-left-content > p {
    transform: rotate(-90deg);
    font-size: 16px;
    font-family: var(--open-sans-text);

    letter-spacing: 0px;
    color: #a09f9d;
    text-transform: capitalize;
    opacity: 1;
  }
  .product-listing-table-left-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 124px;
  }

  .product-listing-table-right {
    display: flex;
    flex-direction: column;

    align-self: flex-start;
  }

  .product-listing-table-right-content {
    display: flex;
    flex-direction: column;
  }

  .table-right-mono-content-block {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .table-right-mono-content-block > img {
    height: 15px;
    width: 15px;
  }

  .product-listing-explore-products-wrapper {
    background-color: #f5f5f5;
  }
  .product-listing-explore-products-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px 0 60px 0;
  }

  .product-listing-explore-products-wrapper-head {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 38px 0 0 5%;
  }

  .product-listing-explore-products-wrapper-head > h4 {
    font-size: 20px;
    margin: 0 0 15px 0;
  }

  .product-listing-explore-products-wrapper-head > p {
    font-size: 12px;
  }

  .product-listing-explore-products-mono-result-desc {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    padding: 0 0 0 14px;
  }

  .product-listing-explore-products-mono-result-desc > h4 {
    font-size: 20px;
    color: #6c6c6c;
    padding: 20px 0;
    border-bottom: 0.5px solid #cdcdcd;
    font-family: var(--playfair-text);
  }

  .product-listing-explore-products-mono-result-desc > span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--playfair-text);
    padding: 16px 0;
    color: #6c6c6c;
    font-weight: 600;
  }

  .product-listing-explore-products-mono-result {
    width: 90%;
    margin: 0 auto;
  }

  .product-listing-explore-products-mono-result-img {
    width: 100%;
  }

  .product-listing-table-right-head {
    font-size: 16px;

    font-family: var(--open-sans-text);

    display: flex;
    align-items: center;
    justify-content: center;

    border-right: 0.5px solid #cdcdcd;
    border-bottom: 0.5px solid #cdcdcd;
    border-top: 0.5px solid #cdcdcd;

    width: 160px;
    height: 48px;

    background: #ffffff 0% 0% no-repeat padding-box;

    opacity: 1;

    letter-spacing: 0px;
    color: #6c6c6c;
  }

  .product-listing-table-data-container {
    display: flex;
    width: max-content;
    overflow: scroll;
  }

  .table-right-mono-content-block {
    padding: 0 0 0 22px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    border-right: 0.5px solid #cdcdcd;
    border-bottom: 0.5px solid #cdcdcd;

    width: 160px;
    height: 48px;
  }

  .product-features-dot {
    background-color: #6c6c6c;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin: 0 5px 0 0;
  }

  .table-right-mono-content-block > img {
    margin: 0px 5px 0px 5px;
  }

  .product-listing-table-right-foot {
    padding: 0 0 0 20px;
    width: 160px;
    height: 84px;
    font-size: 12px;
    font-family: var(--open-sans-text);
    letter-spacing: 0px;
    color: #6c6c6c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 0.5px solid #cdcdcd;
    border-bottom: 0.5px solid #cdcdcd;
    /* text-align: center; */
  }

  .table-footer-scale {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .mono-footer-scale-mark {
    margin: 0px 22px 0px 0px;
  }

  .mono-footer-scale-mark > img {
    width: 15px;
    height: 15px;
  }

  .mono-footer-scale-mark > p {
    font-size: 14px;
    font-family: var(--open-sans-text);
    letter-spacing: 0px;
    color: #b1b4ae;
  }
}
