.kitchen__carousal__container {
  display: flex;
  width: 100%;
  margin-top: 23.5px;
  overflow: hidden;
  flex-direction: column;
}

.kitchen__carousal__image {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  gap: 20px;
  height: 398px;
}

.kitchen__carousal__image__single {
  width: 911px;
  height: 398px;
}

.kitchen__carousal__image__single > img {
  width: 911px;
  height: 398px;
  object-fit: cover;
}

.kitchen__carousal__arrow {
  margin-top: 24px;
  width: 911px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kitchen__carousal__arrow > P {
  text-decoration: underline;
  font-size: 18px;
  font-family: var(--playfair-text);
  letter-spacing: 0px;
  color: #e6e5e2;
  cursor: pointer;
}

.kitchen__carousal__arrow > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}

.kitchen__carousal__arrow > div > svg {
  color: #e6e5e2;
  width: 55px;
  height: 45px;
  cursor: pointer;
}

.kitchen__carousal__details {
  margin-left: 810px;
  margin-top: 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}

.kitchen__carousal__details > p {
  font-size: 32px;
  font-family: var(--playfair-text);
  letter-spacing: 0px;
  color: #e6e5e2;
  text-transform: uppercase;
  opacity: 1;
}

.kitchen__carousal__data {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 911px;
}

.kitchen__carousal__data__heading {
  font-size: 18px;
  font-family: var(--open-sans-text);
  letter-spacing: 0px;
  color: #a09f9d;
  opacity: 1;
}

.kitchen__carousal__data__details {
  font-size: 14px;
  font-family: var(--open-sans-text);
  margin-top: 25px;
  letter-spacing: 0px;
  color: #e6e5e2;
  height: 345px;
}

.kitchen__carousal__data__show {
  text-decoration: underline;
  font-size: 18px;
  font-family: var(--playfair-text);
  letter-spacing: 0px;
  color: #e6e5e2;
  margin-top: 41px;
  cursor: pointer;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  display: flex;
  align-items: center;
  gap: 41px;
}

@media screen and (min-width: 500px) {
  .kitchen__carousal__container__mobile {
    display: none;
  }
}

.carousel {
  overflow: hidden;
}

@media screen and (max-width: 450px) {
  .kitchen__carousal__container__desktop {
    display: none;
  }
  .kitchen__carousal__image__single {
    width: 315px;
    height: 355px;
  }
  .kitchen__carousal__image__single > img {
    width: 315px;
    height: 355px;
    object-fit: cover;
  }

  .kitchen__carousal__arrow {
    margin-top: 24px;
    width: 315px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .kitchen__carousal__arrow > P {
    font-size: 16px;
  }

  .kitchen__carousal__arrow > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75px;
  }

  .kitchen__carousal__arrow > div > svg {
    color: #e6e5e2;
    width: 45px;
    height: 35px;
    cursor: pointer;
  }

  .kitchen__carousal__details {
    width: 100px;
    margin-left: 0;
    margin-top: 0;
  }

  .kitchen__carousal__details > p {
    font-size: 20px;
  }


  .kitchen__carousal__arrow__mobile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 315px;
    align-self: flex-end;
    margin-top: 36px;
  }
  
  .kitchen__carousal__arrow__mobile > svg {
    color: #e6e5e2;
    width: 45px;
    height: 35px;
    cursor: pointer;
  }




  .kitchen__carousal__data {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    max-width: 90%;
    margin-top: 20px;
  }
  
  .kitchen__carousal__data__heading {
    font-size: 18px;
    font-family: var(--open-sans-text);
    letter-spacing: 0px;
    color: #a09f9d;
    opacity: 1;
  }
  
  .kitchen__carousal__data__details {
    font-size: 14px;
    font-family: var(--open-sans-text);
    margin-top: 25px;
    letter-spacing: 0px;
    color: #e6e5e2;
    height: 345px;
  }
  
  .kitchen__carousal__data__show {
    text-decoration: underline;
    font-size: 18px;
    font-family: var(--playfair-text);
    letter-spacing: 0px;
    color: #e6e5e2;
    margin-top: 41px;
    cursor: pointer;
  }
}
