.kitchen__carousal__container {
  display: flex;
  width: 100%;
  margin-top: 23.5px;
  overflow: hidden;
  flex-direction: column;
}

.kitchen__carousal__image {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  gap: 20px;
  height: 398px;

}

.kitchen__carousal__image__single {
  width: 911px;
  height: 398px;
}

.kitchen__carousal__image__single > img {
  width: 911px;
  height: 398px;
}

.kitchen__carousal__arrow {
  margin-top: 24px;
  width: 911px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kitchen__carousal__arrow > P {
  text-decoration: underline;
  font-size: 18px;
  font-family: var(--playfair-text);
  letter-spacing: 0px;
  color: #e6e5e2;
  cursor: pointer;
}

.kitchen__carousal__arrow > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}

.kitchen__carousal__arrow > div > svg {
  color: #e6e5e2;
  width: 55px;
  height: 45px;
  cursor: pointer;
}

.kitchen__carousal__details {
  margin-left: 810px;
  margin-top: 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}

.kitchen__carousal__details > p {
  font-size: 32px;
  font-family: var(--playfair-text);
  letter-spacing: 0px;
  color: #e6e5e2;
  text-transform: uppercase;
  opacity: 1;
}

.kitchen__carousal__data {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 911px;
}

.kitchen__carousal__data__heading {
  font-size: 18px;
  font-family: var(--open-sans-text);
  letter-spacing: 0px;
  color: #a09f9d;
  opacity: 1;
}

.kitchen__carousal__data__details {
  font-size: 14px;
  font-family: var(--open-sans-text);
  margin-top: 25px;
  letter-spacing: 0px;
  color: #e6e5e2;
  height: 345px;
}

.kitchen__carousal__data__show {
  text-decoration: underline;
  font-size: 18px;
  font-family: var(--playfair-text);
  letter-spacing: 0px;
  color: #e6e5e2;
  margin-top: 41px;
  cursor: pointer;
}

.prevCard {
  left: 0px;
  opacity: 0;
  width: 0px;
  animation-duration: 0.5s;
  animation-name: slidein;
  transform: translateX(-911px);
}

@keyframes slidein {
  from {
    width: 911px;
  }

  to {
    width: 0px;
  }
}

.activeCard {
  left: 0px;
  /* transform: translateX(%); */
}

.nextCard {
  /* animation-duration: 1s;
  animation-name: slideout; */

  /* left: 100%; */
  /* transform: translateX(calc(-100% - 2rem)); */
  opacity: 0.2;
}

@keyframes slideout {
  from {
    width: 0px;
  }

  to {
    width: 911px;
  }
}
