.product-carousel-container {
  width: 80%;
  margin: 10rem auto;
  height: 570px;
}

.slide {
  height: 54.6rem;
  width: 40rem;
  margin: 0 auto;
}

.slide > img {
  height: 100%;
  width: 100%;
}

.slide {
  transform: scale(0.8);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}
