.Marble-section-container-desk {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  /* padding: 0 3%; */
  background-color: #f2f2f2;
  border: 2px solid transparent;
  margin: 76px 0 0 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .marble-section-container-mobile {
    display: none;
  }
}
.marble-section-tile-1 {
  background-image: url("../../../Assets/images/HomePage/Marble-1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 290px;
  position: relative;
  z-index: 8;
  /* border: 2px solid red; */
}

.marble-section-tile-2 {
  background-image: url("../../../Assets/images/HomePage/Marble-2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 290px;
  position: relative;
  z-index: 8;
  /* border: 2px solid red; */
}

.marble-section-tile-3 {
  background-image: url("../../../Assets/images/HomePage/Marble-3.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 290px;
  position: relative;
  z-index: 8;
  /* border: 2px solid red; */
}

.marble-section-tile-4 {
  background-image: url("../../../Assets/images/HomePage/Marble-4.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 290px;
  position: relative;
  z-index: 8;
  /* border: 2px solid red; */
}

.marble-section-tile-5 {
  background-image: url("../../../Assets/images/HomePage/Marble-5.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 290px;
  position: relative;
  z-index: 8;
  /* border: 2px solid red; */
}

.outer-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.outer-block > span {
  position: absolute;
  left: 15%;
  bottom: 10%;
  font-size: 18px;
  color: #6c6c6c;
  z-index: 10;
  font-family: var(--playfair-text);
}

.overlay-content {
  position: absolute;
  left: 2.5%;
  bottom: 7.05%;
  font-size: 18px;
  color: #fff;
  z-index: 10;
  font-family: var(--playfair-text);
}

.overlay-section {
  position: absolute;
  top: 20%;
  left: 13%;
  right: 13%;
  bottom: 0%;
  background-color: rgba(255, 16, 0, 0.5);
  z-index: 5;
  opacity: 0;
}

.view-collection-link {
  font-size: 16px;
  text-decoration: underline;
  margin: 8px 0 0 0;
}

.outer-block > span {
  text-align: left;
}

.background-outer {
  height: 60%;
  width: 74%;
}

.background-outer > img {
  height: 100%;
  width: 100%;
  margin: auto;
}

.marble-section-tile-1:hover {
  cursor: pointer;
}

.marble-section-tile-1:hover > .outer-block,
.marble-section-tile-2:hover > .outer-block,
.marble-section-tile-3:hover > .outer-block,
.marble-section-tile-4:hover > .outer-block,
.marble-section-tile-5:hover > .outer-block {
  animation: opacity 0.3s;
  animation-fill-mode: forwards;
}

.marble-section-tile-1:hover > .overlay-section,
.marble-section-tile-2:hover > .overlay-section,
.marble-section-tile-3:hover > .overlay-section,
.marble-section-tile-4:hover > .overlay-section,
.marble-section-tile-5:hover > .overlay-section {
  opacity: 1;
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .Marble-section-container-desk {
    display: none;
  }
  .marble-section-container-mobile {
    width: 90%;
    margin: 0 auto;
  }

  .marble-section-slider-container > .slick-next:before,
  .slick-prev:before {
    height: 30px;
    width: 30px;
    /* border: 1px solid #ddd5c9; */
    border-radius: 50%;
    color: #ff1000 !important;
    opacity: 1;
    font-size: 45px;
  }

  .marble-section-slider-container > .slick-next:before,
  .slick-next:before {
    height: 30px;
    width: 30px;
    /* border: 1px solid #ddd5c9; */
    border-radius: 50%;
    color: #ff1000 !important;
    opacity: 1;
    font-size: 45px;
  }

  .slick-prev {
    z-index: 1;
  }

  .slick-next {
    z-index: 1;
    right: 5px;
  }

  .marble-section-tile-1,
  .marble-section-tile-2,
  .marble-section-tile-3,
  .marble-section-tile-4,
  .marble-section-tile-5 {
    /* height: 547px !important ;
    width: 312px !important ;
    border: 2px solid red; */
    margin: 0 auto !important;
    /* width: 90% !important; */
    width: 75%;
  }

  .overlay-section {
    opacity: 1;
  }
  .outer-block {
    animation: opacity 0.3s;
    animation-fill-mode: forwards;
  }

  @keyframes opacity {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
