.product__similar__carousel__container__desk {
  width: 90%;
  margin: 60px 0 60px 10%;
}

.product__similar__carousel_first_slide {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  width: 400px;
  height: 295px;
}

.product_simlar_carousel_prdct_slide {
  display: flex !important;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  height: 100%;
}

.product_simlar_carousel_prdct_slide > h4 {
  color: #1d1d1b;
  font-size: 32px;
  font-family: var(--playfair-text);
}

.product__similar__carousel_first_slide > p {
  color: #a09f9d;
  font-size: 18px;
  font-family: var(--open-sans-text);
}

.product_simlar_carousel_prdct_slide {
  width: 400px !important;
  height: 295px;
  /* border: 2px solid black; */
  margin: 0px 18px 0px 18px !important ;
}

.product_simlar_carousel_prdct_slide > img {
  width: 100%;
  height: 100%;
}

.similarCarousalBottom > .slick-list > .slick-slide {
  border: 2px solid red;
}
