.product__similar__carousel__container__desk {
  width: 90%;
  margin: 60px 0 60px 10%;
  position: relative;
}

.product_simlar_carousel_prdct_slide {
  display: flex !important;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  height: 100%;
}

.product_simlar_carousel_prdct_slide > h4 {
  color: #1d1d1b;
  font-size: 32px;
  font-family: var(--playfair-text);
}

.product_simlar_carousel_prdct_slide > p {
  color: #a09f9d;
  font-size: 18px;
  margin: 21px 0 0 0;
  font-family: var(--open-sans-text);
}

.product_simlar_carousel_prdct_slide {
  width: 400px !important;
  height: 295px;
  /* border: 2px solid black; */
  margin: 0px 18px 0px 18px !important ;
}

.product_simlar_carousel_prdct_slide > img {
  width: 100%;
  height: 100%;
}

.similarCarousalBottom > .slick-list > .slick-slide {
  border: 2px solid red;
}

.arrow_product {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #ddd5c9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow_product > svg > polyline {
  stroke: #ddd5c6;
}

.arrow_left_product {
  position: absolute;
  left: -5%;
  top: 50%;
  z-index: 10;
}

.arrow_right_product {
  position: absolute;
  right: 10%;
  top: 50%;
}

/* .slick-slider.similarCarousalBottom.slick-initialized > .slick-dots {
  bottom: -25px;
} */

.product__similar__carousel__container__mob {
  display: none;
}

@media screen and (max-width: 768px) {
  .product__similar__carousel__container__desk {
    display: none;
  }

  .product__similar__carousel__container__mob {
    background-color: #f5f5f5;
    display: block;
    padding: 0 5% 15% 5%;
  }

  .product__similar__carousel__container__mob > h4 {
    color: #1d1d1b;
    font-size: 20px;
    font-family: var(--playfair-text);
    padding: 45px 0 14px 0;
  }

  .product__similar__carousel__container__mob > p {
    font-size: 12px;
    color: #a09f9d;
    font-family: var(--open-sans-text);
    margin: 0 0 40px 0;
  }

  .product_simlar_carousel_prdct_slide {
    width: 260px !important;
    height: 187px;
    /* border: 2px solid black; */
    margin: 0px 18px 0px 18px !important ;
  }

  .arrow_left_product {
    left: -2%;
  }

  .arrow_right_product {
    right: 4%;
  }
}
