.footer-container {
  background-color: #ff1000;
  padding: 0 8%;

  display: flex;
  flex-direction: column;
}

.footer-logo-bar {
  background-color: #fff;
  height: 170px;
  width: 185px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo-wrapper {
  height: 37px;
  width: 152px;
}

.footer-logo-wrapper > img {
  height: 100%;
  width: 100%;
}

.footer-quick-links-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 0 14%;

  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.footer-mono-quick-link {
  font-size: 14px;
  color: #fff;
  padding: 26px 0;
  font-family: var(--playfair-text);
}
.footer-bottom-bar {
  /* border: 1px solid white; */
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-end;
  margin: 120px 0 0 0;
  padding: 0 0 18px 0;
  font-size: 12px;
  text-decoration: underline;
  color: #fff;
  font-family: var(--playfair-text);
}
