.footer-container {
  background-color: #ff1000;
  padding: 0 5%;

  display: flex;
  flex-direction: column;
}

.footer-upper-section {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin: 50px 0 0 0;

  border-bottom: 1px solid #fff;
}

.footer-logo-wrapper {
  width: 172px;
  height: 25px;
}

.footer-logo-wrapper > img {
  height: 100%;
  width: 100%;
}

.footer-section-1,
.footer-section-2,
.footer-section-3,
.footer-section-4 {
  display: flex;
  flex-direction: column;

  /* border: 1px solid #fff; */
}

.footer-section-1,
.footer-section-2,
.footer-section-3,
.footer-section-4,
.footer-section-5 {
  padding: 0 0 65px 0;
  min-width: 113px;
}

.footer-mono-quick-link {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  font-family: var(--playfair-text);
  font-weight: 600;
  margin: 0 0 10px 0;
}

.footer-asso-logo-wrapper {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.footer-section-5 {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.footer-association-logo-1 {
  width: 77px;
  height: 110px;
  margin: 0 10px 0 0;
}

.footer-association-logo-1 > img {
  height: 100%;
  width: 100%;
}

.footer-association-logo-2 {
  height: 30px;
  width: 77px;
}

.footer-association-logo-2 > img {
  height: 30px;
  width: 77px;
}

.footer-bottom-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 0 36px 0;
}

.footer-bottom-text {
  color: #fff;
  font-size: 12px;
  text-decoration: underline;
  font-family: var(--playfair-text);
}

.footer-bottom-links {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 230px;
}

.footer-term-link {
  text-decoration: underline;
  color: #fff;
  font-family: var(--playfair-text);
  font-size: 12px;
  text-transform: lowercase;
}

.footer-quick-links-parent {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer-upper-section {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;

    /* grid-auto-rows: minmax(100px, auto); */
  }

  .footer-section-1 {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .footer-section-4 {
    grid-column: 1 / 3;
    grid-row: 3;
  }

  .footer-section-1,
  .footer-section-2,
  .footer-section-3,
  .footer-section-4,
  .footer-section-5 {
    padding: 0 0 0px 0;
    min-width: unset;
  }

  .footer-section-2 {
    width: 80px;
  }

  .footer-section-3 {
    position: relative;
    left: -80px;
  }

  .footer-asso-logo-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 3px;
    width: 50%;
  }

  .footer-section-5 {
    margin-top: 25px;
    padding-bottom: 22px;
  }

  .footer-bottom-bar {
    flex-direction: column-reverse;
  }
  .footer-bottom-links {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    height: 42px;
    width: 50%;
    align-self: flex-start;
    margin-bottom: 15px;
  }

  .footer-logo-wrapper {
    margin: 0 0 20px 0;
  }
}
