* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --playfair-text: "Raleway", sans-serif;
  --open-sans-text: "Open Sans", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

html {
  font-size: 62.5%;
}

@media (max-width: 998px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 35%;
  }
}
