.product__section__container {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;

  /* border: 2px solid red; */
}

.product__section__image__wrapper {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  margin: 0 80px 0 0;
}

.product__images__vertical__drawer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 15px 0 0;
}

.product__image__vertical__tile {
  width: 70px;
  height: 80px;
  cursor: pointer;
  margin: 0 0 20px 0;
}

.product__image__vertical__tile > img {
  width: 100%;
  height: 100%;
}

.product__images__active__image {
  width: 520px;
  height: 583px;
  animation: appear 0.3s forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.product__images__active__image > img {
  width: 100%;
  height: 100%;
}

.product__section__details__container {
  display: flex;
  flex-direction: column;
}

.product__section__details__head > h4 {
  color: #1d1d1b;
  font-size: 32px;
  font-family: var(--playfair-text);
  margin: 0 0 40px 0;
}

.product__section__details__subhead {
  color: #a09f9d;
  font-size: 18px;
  font-family: var(--open-sans-text);
}

.product__section__details__bodytext {
  line-height: 1.8;
  color: #a09f9d;
  font-size: 18px;
  margin: 21px 0 42px 0;
  width: 70%;
  font-family: var(--open-sans-text);
  /* border: 1px solid red; */
}

.product__details__section__btn {
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 220px;
  height: 64px;
  cursor: pointer;
}

.product__details__section__btn > span {
  font-size: 20px;
  letter-spacing: 1.6px;
  color: #ff1000;
  text-transform: capitalize;
  opacity: 1;
  margin-left: 24px;
}
.product__details__section__btn-hover {
  position: relative;
  margin-left: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__details__section__btn-circle {
  width: 50px;
  height: 50px;
  clip-path: circle(50%);
  border-radius: 50%;
  border: 2px solid #ff1000;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: clip-path 0.1s;
}

.product__details__section__btn-hover > svg {
  width: 30px;
  height: 30px;
  color: #ff1000;
  position: absolute;
  transition: transform 0.3s;
}

.product__details__section__btn:hover {
  background-color: #ff1000;
  transform: translateX(0);
}

.product__details__section__btn:hover
  > .product__details__section__btn-hover
  > .product__details__section__btn-circle {
  clip-path: circle(8%);
  background-color: #fff;
}

.product__details__section__btn:hover > span {
  font-size: 20px;
  letter-spacing: 1.6px;
  color: #ffffff;
  text-transform: capitalize;
  opacity: 1;
}

.product__details__section__btn:hover
  > .product__details__section__btn-hover
  > svg {
  color: #fff;

  transform: translateX(15px);
}

.product__details__bottom__wrapper {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  margin: 43px 0 0 0;
}

.product__details__download__specs__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px 0 0;
  border-right: 0.5px solid #a09f9d;
}

.product__details__download__specs__section > p {
  color: #a09f9d;
  text-align: center;
  font-size: 16px;
  font-family: var(--open-sans-text);
  margin: 0 0 15px 0;
}

.product__details__social__share__icons__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 30px;
  align-items: flex-start;
  height: 100%;
}

.product__details__social__share__icons__wrapper > p {
  color: #a09f9d;
  font-size: 16px;
  font-family: var(--open-sans-text);
  margin: 0 0 23px 0;
}

.product__details__social__share__icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.product__details__social__share__icons > svg {
  margin: 0 15px 0 0;
}

.product__details__download__specs__section__mob {
  display: none;
}

@media screen and (max-width: 768px) {
  .product__section__container {
    flex-direction: column;
  }

  .product__section__image__wrapper {
    flex-direction: column-reverse;
  }

  .product__images__vertical__drawer {
    flex-direction: row;
    justify-content: space-between;
  }

  .product__images__active__image {
    width: 100%;
    height: 230px;
    margin: 0 0 20px 0;
  }

  .product__section__image__wrapper {
    margin: 0;
    /* border: 1px solid red; */
  }

  .product__section__container {
    margin: 0 auto;
    width: 90%;

    padding: 40px 0;
  }

  .product__details__download__specs__section {
    display: none;
  }

  .product__image__vertical__tile {
    height: 43px;
    width: 43px;
  }

  .product__section__details__head {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin: 20px 0 0 0;
  }

  .product__details__download__specs__section__mob {
    display: flex;
    flex-direction: row-reverse;
  }

  .product__details__download__specs__section__mob > p {
    color: #6c6c6c;
    font-size: 12px;
    font-family: var(--open-sans-text);
    margin: 0 0 0 12px;
  }

  .product__section__details__head > h4 {
    font-size: 20px;
    margin: 0 0 15px 0;
  }

  .product__section__details__subhead {
    font-size: 12px;
  }

  .product__section__details__bodytext {
    font-size: 12px;
    width: 100%;
    margin: 15px 0 0 0;
  }

  .product__details__section__btn {
    outline: none;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 150px;
    height: 48px;
    margin-top: 20px;
  }

  .product__details__section__btn > span {
    font-size: 14px;
    letter-spacing: 1.6px;
    color: #ff1000;
    text-transform: capitalize;
    opacity: 1;
    margin-left: 10px;
  }
  .product__details__section__btn-hover {
    position: relative;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product__details__section__btn-circle {
    width: 35px;
    height: 35px;
    clip-path: circle(50%);
    border-radius: 50%;
    border: 2px solid #ff1000;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: clip-path 0.1s;
  }

  .product__details__section__btn-hover > svg {
    width: 20px;
    height: 20px;
    color: #ff1000;
    position: absolute;
    transition: transform 0.3s;
  }

  .product__details__section__btn:hover {
    background-color: #ff1000;
    transform: translateX(0);
  }

  .product__details__section__btn:hover
    > .product__details__section__btn-hover
    > .product__details__section__btn-circle {
    clip-path: circle(8%);
    background-color: #fff;
  }

  .product__details__section__btn:hover > span {
    font-size: 15px;
    letter-spacing: 1.6px;
    color: #ffffff;
    text-transform: capitalize;
    opacity: 1;
    /* font-weight: 600; */
  }

  .product__details__section__btn:hover
    > .product__details__section__btn-hover
    > svg {
    color: #fff;

    transform: translateX(10px);
  }
}
